
    <div class="conocer">
        <h1>Sobre nosotros</h1><br
        <p>¡Somos una tienda de ropa, calzado y articulos exclusivos!</p>
        <p>
            Estamos a nivel nacional y nuestra meta a futuro es estar a nivel internacional ofrenciendo lo mejor
            a nuestras clientas, que se sientan seguras y orgullosas por lo que son, aun mas estando a gusto
            con la moda que mas les guste gracias a nuestros productos
        </p>
    </div>

<br

<div class="p">
    <div class="xxx">

        <h3>Conoce nuestra tienda</h3>

        <p>Actualmente ubicada en el centro comercial Tranvia plaza ayacucho</p>

        <video autoplay controls
               style="width: 40%; height: 100%; margin-right: 3px; margin-bottom: 1px;">
            <source src="~/Videos/Tienda.mp4" type="video/mp4" />
            Tu navegador no soporta el video.
        </video>
    </div>
</div>

    <div class="contactar">
        <h3>Siempre disponibles para ti </h3>
        <br />

        <address>
            <strong>Pedidos:</strong>   <a href="" Rossepedidos@gmail.com">Rossepedidos@gmail.com</a><br />
            <strong>Reclamos y sugerencias:</strong> <a href="Rossesuport@gmail.com">Rossesuport@gmail.com</a>
        </address>

        <address>
            Ubicación: Cl. 49 ##41-9, Medellín, Antioquia<br />
            Whatsapp: 301-697-1293<br />
            <abbr title="Phone">Tel:</abbr>
            572-13-44
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1402.2429433064885!2d-75.56179267665621!3d6.245013628676587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442859d833cfa3%3A0xa3fca5c91547777f!2sCESDE.!5e0!3m2!1ses!2sco!4v1638025784440!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>







