<div class="p">
    <div class="out">
        <h1>Conoce estos fabulosos Outfis</h1><br
        <p>
            Tenemos los mejores estilos para ti, atretevete a disfrutar
        </p>
    </div>
    <br /><br <br /><br />

    <video autoplay controls
           style="width: 40%; height: 100%; margin-right: 3px; margin-bottom: 1px;">
        <source src="~/Videos/OUT1.mp4" type="video/mp4" />
        Tu navegador no soporta el video.
    </video>

    <video autoplay controls
           style="width: 40%; height: 100%; margin-right: 3px; margin-bottom: 1px;">
        <source src="~/Videos/OUT2.mp4" type="video/mp4" />
        Tu navegador no soporta el video.
    </video>
    <img src="~/Imagenes/dress.jpg" , width="250px" , height="300px" />
    <img src="~/Imagenes/rosse.jpg" width="250px" , height="300px" />
    <img src="~/Imagenes/1.jpg" , width="250px" , height="300px" />
    <img src="~/Imagenes/5.jpg" , width="250px" , height="300px" />
    <img src="~/Imagenes/9.jpg" width="250px" , height="300px" />
    <img src="~/Imagenes/10.jpg" width="250px" , height="300px" />
</div>
</div>



